label {
    display: block;
    color: inherit;
}

input {
    width: 300px;
    height: 25px;
}
h1 {
    color: #74B266;
}
form {
    color: #74B266;
}
a {
    color: #74B266;
}

textarea {
    width: 300px;
    height: 100px;
}

img {
    width: 250px;
    height: 200px;
}

.text-color {
    color: #74B266;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Button {
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

.Success {
    background-color: #367B25;
    color: white;
}

.Danger {
    background-color: #bb1b15;
    color: white;
}