.main-page-p {
  margin: 0 5px 0 0;
  width: 50%;
}

.main-body {
 background-color:  #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-half {
  float: left;
  width: 50%;
  height: 80%;
 }

.right-half {
  float: right;
  width: 50%;
  overflow: scroll;
  align-items: center;
  height: 80%;
}

.County {
  color: #74B266;
  margin: 0 auto;
  float: none;
  animation-name: County-Clicked;
  animation-duration: 2s;
}

.Description {
  font-size: 12px;
}

::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color:#282c34
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #3d3d43;
  border-radius:16px;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}
@keyframes County-Clicked {
  from {
    right: -100px
  }
  to {
    left: 50%;
  }
}
