.cardImage {
    width: 20vw;
    height: 100%;
}

.modalImage {
    width: 87%;
    height: 30%;
    margin: auto;
    display: block;
}

.info-card-text {
    font-size: 8px;
    height: 9vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-layout {
    display: flex;
    height: 15vw;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: row;
    background-color: #282c34;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 10px 10px 10px 10px;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.card-img {
    background-color: #282c34;
    padding: 30px;
    max-width: 250px;
}

.card-info {
    color: white;
    padding: 30px;
    position: relative;
}

.card-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.card-btn {
    border: 0;
    float: bottom;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-size: 16px;
}

.card-modal {
    background-color: #282c34;
}

.controlButton {
    margin: 0 auto;
    float: right;
}
