html {
  background-color: #282c34
}
.App {
  text-align: center;
}

#container {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-half {
  float: left;
  width: 50%;
 }

.right-half {
  float: right;
  width: 50%;
  overflow: scroll;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.County {
  color: #74B266;
  margin: 0 auto;
  float: none;
  animation-name: County-Clicked;
  animation-duration: 2s;
}

@keyframes County-Clicked {
  from {
    right: 100%
  }
  to {
    left: 50%;
  }
}
