img {
    width: 300px;
    height: 400px;
}
h3 {
    color: #74B266;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.card-extra {
    background-color: #282c34;
    margin: auto;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}