
h3 {
    color: #74B266;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.info-card-link {
    text-decoration: none;
    color: #8bd69c;
}

.medium-padding {
    padding-top: 13rem;
}

.card-extra {
    background-color: #282c34;
    width: 5rem;
    height: 10rem;
    padding-bottom: 20rem;
}

.card-img-custom {
    width: 100%;
    height: 75%;
}

.call-to-action-text {
    font-size: 1.3rem;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}